@media screen and (min-width: 428px) {
    .container {
      width: 396px;
    }
/* --------------------------HERO------------------------------- */

    
    
      
       
        .hero{
        
            padding: 112px 0;
        }

 /* --------------------------FUTURES------------------------------- */

    .futures {  
        padding: 120px 0 ;
         
        }
      
        .futures-list {
          gap: 72px;
        }

        .futures-icons-link{
            display: none;
          }



       
        /* --------------------------FOOTER------------------------------- */

        .footer-container {
           
        }
        .footer-subscribe {
           margin-right: auto;
        }

        .footer-subscribe-wrap {
            

        }
   
  }