@media screen and (min-width: 768px) {
    .container {
      width: 582px;
    }
/* --------------------------HEADER------------------------------- */
.header-nav{
  margin-left: 120px;
}

.header-list{
  display: flex;
  
}
.contacts-list {
  display: flex;
  align-items: flex-start ;
}

.header > .container {
  width: 100%;
}
.mob-menu-btn {
  display: none;
}
 .menu-close-btn {
  display: none;
}

.contacts-list{
  flex-direction: column;
  justify-content: center;
  gap: 4px;

}

.contacts-link{
  font-size: 12px;
line-height: 1.33;
letter-spacing: 0.04em;

  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: auto;
  width: 119px;
}

    /* --------------------------HERO------------------------------- */

    .hero-title {
      font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;

  line-height: 1.07;

  letter-spacing: 0.02em;
  color: #FFFFFF;
  
          max-width: 494px;
          margin: 0 auto;  
   margin-bottom: 40px;
    }
    
    
     
      .hero {
         background-image:  linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ) , url(../img/hero-bg-tablet.jpg);
          padding: 112px 0;
          max-width: 768px;
          max-height: 436px;
      }
/* --------------------------FUTURES------------------------------- */
.futures > .container {
   width: 766px;
}    
.futures-list {
   gap: 24px;
 }

.futures-item {
      width: calc((100% - 30px) / 2);
  
    }


    .futures-caption {
  
  text-align: start ;
  }
/* --------------------------TEAM------------------------------- */
    .team {
 padding: 96px 108px 104px;
    }
    .team-list {
      display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 64px 24px ;
     
    }

   

    .team-item {
    width: calc((100% - 30px) / 2);
    }
 /* ----------------------------CUSTOMERS-------------------------------------- */

 .customers-list{
    gap: 72px 24px;
 }
    .customers-item {
        width: 168px;  }
   


 /* --------------------------PORTFOLIO-SLIDES------------------------------- */
 .portfolio-slides > .container {
   width: 766px;
}   
 .portfolio-slides-item {
   width: calc((100% - 30px) / 2)
 }
 /* --------------------------FOOTER------------------------------- */

 .footer-container {
   justify-content:flex-start ;
 }

 .footer-content{
  flex: none;
  justify-content: left;
 }

 .soc-media {
flex: none;
justify-content: left;
  margin-left: 24px;
  margin-top: 0;
}
 .footer-subscribe {
 
   margin-top: 72px;
   margin-right: 150px;
 }

 
 .footer-subscribe-title {
   margin-left: 0;
   text-align: start ;
 }
.footer-subscribe-wrap {
  
    flex-wrap: nowrap;


}
.footer-input{
width: 264px;
}

}

/*---------------------------- MODAL ----------------------------*/

.modal { 
  resize: none;
  overflow: auto; }